{% load i18n static %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
    <head>
        <link rel="shortcut icon" type="image/png" href="{% static 'hero.png' %}"/>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        {% block title %}<title>{% translate 'Password change' %}</title>{% endblock %}

        <!-- Custom fonts for this template-->
        <link href="{% static 'website/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet"
              type="text/css">
        <link href="{% static 'website/css/google_nunito.css' %}" rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="{% static 'website/css/sb-admin-2.min.css' %}" rel="stylesheet">

        <link href="{% static 'website/css/loader.css' %}" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="{% static 'website/css/cash_u.css' %}">

        <link href="{% static 'website/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    </head>
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <div class="container-fluid">
                <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                    <div class="px-4">
                        <div class="row align-items-center justify-content-between pt-3 text-success">
                            <div class="mb-3">
                                {% block content_title %}<h1>{% translate 'Password change' %}</h1>{% endblock %}
                            </div>
                        </div>
                    </div>
                </header>
                <div class="card">
                    <div class="card-body">
                        {% block content %}
                            <p>Ваш пароль был успешно изменен! <a class="text-success" href="{% url 'index_start' %}">Вы можете вернуться на главную страницу</a></p>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}